.survey-list-item {
    padding: 10px 16px;
    /*margin-bottom: 10px;*/
}

.survey-list-item .card-title, h4 {
    margin-bottom: 0;
}

.survey-list-item .card {
    background-color: aliceblue;
    height: 100%;
}

.survey-list-item .card:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.survey-card-body {
    display: flex;
    justify-content: center;
}

.survey-card-title {
    align-self: center;
}