.survey {
    padding-top: 10px;
    text-align: left;
}

.survey-section {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

.survey-title {
    padding: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

.survey-message {
    font-size: 20px;
    padding: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

.survey-message-container {
    padding: 10px;
}

.question {
    padding: 12px 10px;
    background-color: #fff;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
}

.question-prompt {
    font-size: 16px;
}

.answer-alert {
    font-size: 14px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-radius: 5px;
}

.alert-message{
    padding: 5px;
}