.survey {
    padding-top: 10px;
    text-align: left;
}

.survey-section {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

.survey-title {
    padding: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

.question {
    padding: 12px 10px;
    background-color: #fff;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
}

